body{
    font-family: 'Courier New', Courier, monospace;
}

header{
    text-align: center;
    color:rgb(15, 15, 150);
}

footer{
    text-align: center;
}

#kean_logo{
    width: 5%;
    height: 5%;
}

#navigation_bar {
  margin: 0%;
  text-align: center;
}

#navigation_bar li {
  display: block;
  position: relative;
  float: left;
  background-color:hsl(249, 80%, 30%);
}

#navigation_bar ul {
  position: absolute;
  display: none;
  padding: 0;
}

#navigation_bar li a {
  display: block;
  padding: 0;
  text-decoration: none;
  width: 450px;
  line-height: 70px;
  color: #ffffff;
}

#navigation_bar li li a {
  font-size: 75%;
}

#nav li:hover ul ul {
  display: none;
}


#navigation_bar li:hover {
  background-color:hsl(0, 49%, 42%);
}

#navigation_bar li:hover ul {
  display: block;
}