/*Normal html elements*/
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header{
    text-align: center;
    /*color:rgb(15, 15, 150);*/
    color: black; 
}

footer{
    text-align: center;
}

/*Ids associated with html elements*/
#kean_logo{
    width: 5%;
    height: 5%;
}

#navigation_bar {
  margin: 0%;
  text-align: center;
}

#navigation_bar li {
  display: block;
  position: relative;
  float: left;
  background-color:hsl(249, 80%, 30%);
}

#navigation_bar ul {
  position: absolute;
  display: none;
  padding: 0;
}

#navigation_bar li a {
  display: block;
  padding: 0;
  text-decoration: none;
  width: 200px;
  line-height: 400%;
  color: #ffffff;
  border:1px solid black;
  float: none;
}

#navigation_bar li li a {
  font-size: 75%;
}


#navigation_bar li:hover {
  background-color:hsl(0, 49%, 42%);
}

#navigation_bar li:hover ul {
  display: block;
}

#navigation_bar li li:hover ul {
  display: block;
  margin-left: 200px;
  margin-top: -50px;
  border:1px solid black;
}

#navigation_bar ul ul li{
  background: white;
}

#navigation_bar ul ul li p{
  font-size: larger;
}

#navigation_bar ul ul li:hover{
  display:none;
}


#navigation_bar ul ul li a{
  color:black;
}

/*Classes associated with html elements*/
.navigation_bar_container { 
    display: flex;
    justify-content: center;
}

.map_container{
  display:flex;
  justify-content: center;
}

.tilte_container{
  display:flex;
  justify-content: center;
  align-items:center;
}
