/*Normal html elements*/
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color:hsl(260, 16%, 96%);
}

header{
    text-align: center;
    /*color:rgb(15, 15, 150);*/
    color: white; 
    background-color: hsl(249, 80%, 30%);
    border-bottom: 1px solid hsl(249, 80%, 30%);
}

footer{
    text-align: center;
    color: black;
    background-color: hsl(260, 16%, 96%);
    overflow: auto;
}

/*Ids associated with html elements*/
#kean_logo{
    width: 9%;
    height: 9%;
}

#navigation_bar {
  margin: 0%;
  text-align: center;
}

#navigation_bar li {
  display: block;
  position: relative;
  z-index: 1000;
  float: left;
  background-color:hsl(249, 80%, 30%);
  border-bottom: 1px solid white;
}

#navigation_bar ul {
  position: absolute;
  display: none;
  padding: 0;
}

#navigation_bar li a {
  display: block;
  padding: 0;
  text-decoration: none;
  width: 200px;
  line-height: 400%;
  color: #ffffff;
  float: none;
}


#navigation_bar li li a {
  font-size: 75%;
}


#navigation_bar li:hover, li:active, li.click{
  background-color:hsl(0, 49%, 42%);
}

#navigation_bar li:hover ul, li:active ul {
  display: block;
}


/*Side bar description box*/
#navigation_bar li li:hover ul, li li:active ul{
  display: block;
  margin-left: 200px;
  margin-top: -50px;
}

#navigation_bar li li ul, li li:active ul{
 margin-top: -10000px;
}

#navigation_bar ul ul li{
  background: white;
  
}

#navigation_bar ul ul li p{
  font-size: larger;
}

#navigation_bar ul ul li:hover, ul ul li:active{
  display:none;
}


#navigation_bar ul ul li a{
  color:black;
  width:150px;
}

/*Classes associated with html elements*/
.navigation_bar_container { 
    display: flex;
    justify-content: center;
}

.map_container{
  display:flex;
  justify-content: center;
}

.tilte_container{
  display:flex;
  justify-content: center;
  align-items:center;
  gap:1%;
}

.person_container{
  display: inline-block;
  text-align: center;
  justify-content: center;
}

.dev_contain{
  display: inline-flex;
}

.text_container{
  display: flexbox;
  text-align: center;
  gap:1%;
}

#testoo{
  right:350px;
  top:10px;
}

#map {
  width: 750px;
  height: 600px;
  border: 0;
}

.map_container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.controls {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

input {
  width: 400px;
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 8px 12px;
  margin-left: 8px;
  font-size: 16px;
  cursor: pointer;
}

.text_container {
  text-align: center;
  font-family: Arial, sans-serif;
}

/*For mobile viewing styling*/
@media screen and (max-width:870px){
  #navigation_bar li a {
    width: 100px;
  }
  #navigation_bar li li:hover ul, li li:active ul{
  display: block;
  margin-left: 100px;
  margin-top: -50px;
}

  #testoo{
    right:250px;
    top:10px;
  }

  #raise_description_phone_screen_three_lines{
    top:-80px;
  }

  #raise_description_two_lines{
    top:-45px;
  } 

  #raise_description_three_lines{
    top:-80px;
  }
}